################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/maui-base.events/bin/Debug/net8.0
/maui-base.events/obj
